:root {
	// base
	--font-family: 'Inter';
	--transition-duration: 0.2s;
	--min-width: 320px;
	--radius: 4px;

	// colors
	--color-white: #fff;
	--color-black: #000;
	--color-dark: #20222A;
	--color-primary: #007aff;
	--color-primary-hovered: #0A78F0;
	--color-primary-active: #1073DF;
	--color-gray-100: #757575;
	--color-gray-200: #bdbdbd;
}